.jumbotron {
    text-align: center;
    background: none;
}

.SectionLight {
    background-color: #eceeef;
    padding: 2em;
}

.SectionDark {
    background-color: #ccc;
    padding: 2rem;
}

.coolstuffwrapper {
    margin-top: 20px;
}

button.coolstuffbtn {
    background-color: red;
    color: #ffffff;
    display: block;
    margin: auto;
}

h5.modal-title {
    margin: auto;
}

.modalFormWrapper {
    padding: 2rem;
}

.imgcenter {
    display: block;
}

.btncenter {
    display: block;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 20px;
    width: 54%;
}

.fa {
    margin: 10px;
}

.fa-facebook-square {
    color: #3b5998;
}

.fa-google-plus-square {
    color: #c32f10;
}

.fa-instagram {
    color: #fff;
}

.socialwrapper {
    margin: auto;
}

.bg-inverse{
    background-color: #000;
}